
/* BACKGROUND IMAGE AND COLOR */
body{
	background-image: url("pink-yellow-pastel-paper-color-background_1122-4041.jpg");
	background-color: aqua;
	}

table{
bordercolor: blue;
}

/* MULTIPLE ELEMENTS */

tr,th, td{
background-color: lightsalmon;

}
h2.h2h{
font-family: Lucida Console;
font-size: xxx-Large;
color: black;

}

/* ALL ELEMENTS */
* {
font-family: Courier New;
font-weight: bold;
font-style:italic;
color: black;
font-size: xx-large;
}


/* SPECIFIC ELEMENTS BY ID */
 #th1,#th2, #th3, #th4, #th5, #th6, #th7{
background-color: paleturquoise;
}

#th1, #td2, #td9, #td16, #td23, #td30, #non{
color: red;
}

